.recentsDiv {
  /* overflow-y: scroll; */
  /* position: ; */
}
/* 
.addButton{
  position: absolute;
  right: 40px;
  bottom: 240px;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

input[type=text]:focus:not([readonly]) + label[class=active] {
  color: #1565c0;  
  font-size: 15px;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid #1565c0;
  box-shadow: 0 1px 0 0 #1565c0;
}

.card-action {
  min-height: 60px;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 16px 24px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.h2{
  color: blue;
}

.Feed{
  width: 600px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
}

.updatesZone{
  display: flex;
  align-items: flex-start;
  justify-content: center;  
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  padding: 20px;
  height: auto;
  padding: 20px;
  /* background-color: #1565c0; */
}

.Feed p{
  float: center;
}

